
body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}
.canvas-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.canvas-section {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1vw; /* Utiliza 5% del ancho de la ventana como padding */
    position: relative;
    /*margin: 1vw; /* Utiliza 2% del ancho de la ventana como margen */
}
.canvas-section h2 {
    margin-top: 0;
}
.canvas-section ul {
    list-style-type: none;
    padding: 0;
}
.canvas-section ul li {
    margin-bottom: 10px;
}

.title-with-icon {
    position: relative; /* Establecer posición relativa para el título */
}

.title-with-icon img {
    width: 70px;
    height: 70px;
    position: absolute; /* Posicionamiento absoluto para el icono */
    top: 0;
    right: 0;
}

.canvas-section-link {
    text-decoration: none;
    color: inherit;

}

.canvas-section:hover {
    border: 2px solid lightblue;
}

h1 {
    text-align: center;
    color: #333;
}

p {
    text-align: justify;
    color: #666;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.home-link {
    display: block; /* Mostrar el enlace como bloque para ajustar su ancho */
    margin: 20px auto; /* Centrar el enlace */
    cursor: pointer; /* Cambiar el cursor al pasar por encima */
}

.home-link img {
    width: 50px; /* Ancho de la imagen */
    height: auto; /* Altura automática para mantener la proporción */
}
